page-noticia-detalle {
    .noticias {
        box-shadow: none;
        padding: 0;
        .detalles {
            padding: 0;
        }
    }
    .bloqueBlanco {
        padding: 0;
        margin-bottom: 10px;
    }
    .attachments {
        .item-block {
            box-shadow: none;
        }
    }
    .imageNoticia lazy-img {
        min-height: 130px;
    }
    .bajada img {
        max-width: 100% !important;
        height: auto !important;
    }
}