<ion-header>
    <ion-navbar center>
        <img class="logoHeaderv2" width="120" src="assets/images/logoHeaderV2@2.png" />
        <button ion-button menuToggle right>
            <div class="navicon-button x">
                <div class="navicon"></div>
            </div>
    	</button>
    </ion-navbar>
</ion-header>
<ion-content class="contentInterior">
    <ion-grid>
        <ion-row justify-content-around>
            <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3 align-self-center>
                <h1 class="text-center uppercase">Información Comercial</h1>
            </ion-col>
        </ion-row>
        <ion-row justify-content-around>
            <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3 align-self-center>
                <div class="bloqueBlancoNoPadding no-padding">
                    <div class="infocomercial" *ngIf="informerciales">
                        <ion-slides *ngIf="informerciales && informerciales.length" #slider pager="true" autoplay="6000" (ionSlideWillChange)="onSlideChanged()">
                            <ion-slide *ngFor="let informercial of informerciales" class="slide-background">
                                <div class="imagen" *ngIf="informercial.doc.isActive" (click)="openPage('InformacionComercialDetallePage', informercial);">
                                    <div class="imageInformercial" *ngIf="informercial.doc._attachments">
                                        <div *ngFor="let attachment of informercial.doc._attachments | keys; index as i">
                                            <lazy-img width="100%" inputSrc="{{cfg.apiUrl}}/inforcomercial/{{informercial.doc._id}}/{{attachment.key}}" *ngIf="i==0"></lazy-img>
                                        </div>
                                    </div>
                                </div>
                            </ion-slide>
                        </ion-slides>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <div padding>
            <ion-row justify-content-around>
                <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3 align-self-center>
                    <div class="bloqueBlanco">
                        <h1 margin-top class="welcome">Más comprados por la red</h1>
                        <ion-list margin-top class="productosTop">
                            <ion-item no-lines class="producto no-padding" *ngFor="let producto of productosTop">
                                <ion-row padding-right padding-left justify-content-around [class.adquirido]="producto.doc.adquirido" *ngIf="producto.doc.isActive">
                                    <ion-col col-5 col-sm-5 col-md-4 col-lg-4 col-xl-3 align-self-center>
                                        <div class="imagenProducto text-center center" *ngIf="producto.doc._attachments">
                                            <div *ngFor="let attachment of producto.doc._attachments | keys; index as i">
                                                <lazy-img inputSrc="{{cfg.apiUrl}}/productos_top/{{producto.doc._id}}/{{attachment.key}}" *ngIf="i==0"></lazy-img>
                                            </div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-7 col-sm-7 col-md-8 col-lg-4 col-xl-3 align-self-center>
                                        <div class="infoProducto">
                                            <h2>{{producto.doc.nombre}}</h2>
                                            <h3>SKU {{producto.doc.sku}}</h3>
                                            <p class="noAdquirido" *ngIf="!producto.doc.adquirido">Aún no lo has adquirido</p>
                                            <p *ngIf="producto.doc.adquirido">Ya lo adquiriste</p>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-item>
                        </ion-list>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
