page-login-page {
    ion-content.contentInterior {
        background: color($fondos, light);
    }

    ion-item.item {
        background: none;
    }

    .item.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom: 1px solid #dedede;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .item.item-input.input-has-focus .item-inner {
        border-bottom: 1px solid #dedede;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom: 1px solid #dedede;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .input-has-focus .label-md[floating],
    .input-has-focus .label-md[stacked] {
        color: #999;
    }
}
