// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals"; // Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #D0011B, secondary: #32db64, danger: #f53d3d, light: #C7C7C7, midlight: #B6B6B6, dark: #444343, blanco: #FFF, negro: #000, texto: #606060, titles: #777777, variacion: #333333, ultralight: #F5F5F5 );
$indicadores: ( title: #7ED321, neutro: #FFC12D, positivo: #7ED321, negativo: #D0011B );
$fondos: ( light: #F2F2F2 ); // breakpoint mixin
$color-grey: #666;
$font-icons: 'Ionicons';
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
     @if $mq2 == false{
        @media ($maxmin: $mq01) {
             @content;
        }
    }
    @else {
         @media (min-width: $mq01) and (max-width: $mq2){
            @content;
        }
    }
}
// breakpoint variables
$lg: 480px;
$md: 413px;
$sm: 400px;
$xs: 325px;
// responsive font size mixin
@mixin font-size-map($font-size-map) {
     @each $breakpoint, $font-size in $font-size-map{
        @if $breakpoint == null {
            font-size: $font-size;
        }
        @else {
             @include breakpoint($breakpoint){
                font-size: $font-size;
            }
        }
    }
}
// font sizes
$html-font-size: (null: 62.5%, $lg: 62.5%, $md: 80%, $sm: 62.5%, $xs: 55%);
$paragraph-font-size: (null: 17px, $lg: 17px, $md: 16px, $sm: 15px, $xs: 15px); // App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default"; // Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons"; // Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
