page-indicadores {
    h1 {
        margin-top: 0.5rem;
    }

    ion-item.item-select {
        min-height: 3.2rem;
        background: none;
        border: 1px solid color($colors, texto);
    }
    .logoFerreteriaIndicadores lazy-img {
        min-height: 120px;
    }

    ion-item.item-select ion-select {
        padding: 6px 8px 6px 16px;
        letter-spacing: normal;
        text-transform: capitalize;
        font-weight: $medium;
        font-size: 1.5rem;
        font-family: 'CircularStd';
        color: color($colors, texto);
    }
    .google-visualization-tooltip span {
        font-size: 1.2rem !important;
    }
}
